// Palette Warm Colors
.light-warm {
	color: #EAECEE;
}
.primary-warm {
	color: #10305C;
}
.success-warm {
	color: #65AA3B;
}
.info-warm {
	color: #3B6BAA;
}
.error-warm {
	color: #D05F5F;
}
.warning-warm {
	color: #E6BE0C;
}